<h1>New Message</h1>
<%= @message.reciever_id %>
<%= @message.sender_id %>
<%= form_for :message, url: message_path do |f| %>
	<%= f.hidden_field :reciever_id %>
	<%= f.hidden_field :sender_id %>	
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
	<%= submit_tag "Send" %>
<% end %>