<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Messaging Rails" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Messaging App Rails" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container">
      <div class="masthead">
        <h2 class="muted"><%= link_to "MessagingRails", root_path %></h2>
        <%= render 'layouts/navigation' %>
      </div>
      <div class="jumbotron">
          <%= render 'layouts/messages' %>
        <div id="main" role="main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
